html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}
.music-box {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 38px;
  height: 50px;
  text-align: right;
  z-index: 5;
}
@keyframes note {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  75% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
.music-box .music-label {
  display: block;
  width: 38px;
  height: 30px;
}
.music-box .music-label #music-select {
  display: none;
}
.music-box .music-label #music-select:checked + #music {
  background: url(../img/icon_music1.png) 0 0 / auto 30px no-repeat;
}
.music-box .music-label #music-select:checked + #music > .note {
  display: block;
  animation: note 1s linear infinite;
}
.music-box .music-label #music {
  position: relative;
  top: 20px;
  width: 38px;
  height: 30px;
  background: url(../img/icon_music.png) 0 0 / auto 30px no-repeat;
}
.music-box .music-label #music .note {
  position: absolute;
  top: -14px;
  right: 4px;
  display: none;
}
.qr-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
}
.qr-box .qr {
  position: absolute;
  left: 20px;
  bottom: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.qr-box .qr .remind {
  font-size: 12px;
  color: #333;
}
@keyframes up {
  from {
    bottom: 12px;
    opacity: 1;
  }
  to {
    bottom: 30px;
    opacity: 0;
  }
}
.qr-box .pull {
  position: absolute;
  left: calc(50% - 10px);
  bottom: 12px;
  width: 20px;
  height: 36px;
  background: url(../img/icon_t.png) 0 0 / 20px auto no-repeat;
  animation: up 1s linear infinite;
}
#activitys {
  height: 100%;
  transition: transform .3s linear;
}
#activitys .activity {
  position: relative;
  height: 100%;
}
#activitys .activity .content {
  display: flex;
  flex-direction: column;
}
#activitys .activity .content span {
  margin-bottom: 15px;
  color: #333;
  font-weight: 800;
}
#activitys .activity .content > span:nth-child(1) {
  margin-top: 50px;
}
#activitys .activity .content > span {
  margin-left: 20px;
}
#activitys .activity .content .green {
  color: #8BD738;
}
#activitys .activity .content .blue {
  color: #4C67E7;
}
#activitys .activity .content .yellow {
  color: #FDCD3D;
}
#activitys .activity .content .red {
  color: red;
}
#activitys .activity .backInner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -2;
}
#activitys .activity .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#activitys .activity #echarts {
  height: 300px;
  margin-top: 64px;
}
#activitys .activity .red-pack {
  width: 280px;
}
#activitys .full {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
